<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>578147292338-l069tjtvefnt5fcunoveeo1mnrtknanl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.578147292338-l069tjtvefnt5fcunoveeo1mnrtknanl</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>578147292338-4d3b36ro9vl0ujekjbippk2cf9krgb8h.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD9h63q8gpgeHRIKaHuj9sKDWqnrklKOhA</string>
	<key>GCM_SENDER_ID</key>
	<string>578147292338</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vemare.app</string>
	<key>PROJECT_ID</key>
	<string>appwebvemarecorporativa</string>
	<key>STORAGE_BUCKET</key>
	<string>appwebvemarecorporativa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:578147292338:ios:4337e0a2172546dfbc25ab</string>
</dict>
</plist>